<ul class="collection with-header landing">
  <li class="collection-header blue-grey darken-4">
    <h4>Last 5 Games</h4>
    <p>By Date</p>
  </li>
  <li *ngFor="let game of games; let i = index;" class="collection-item avatar">
    <span [ngSwitch]="i">
      <i *ngSwitchCase=0 class="material-icons circle blue-grey darken-3">looks_one</i>
      <i *ngSwitchCase=1 class="material-icons circle blue-grey darken-2">looks_two</i>
      <i *ngSwitchCase=2 class="material-icons circle blue-grey darken-1">looks_3</i>
      <i *ngSwitchCase=3 class="material-icons circle blue-grey">looks_4</i>
      <i *ngSwitchCase=4 class="material-icons circle blue-grey lighten-1">looks_5</i>
    </span>
    <span class="title">{{game.date}} | {{game.players}} players</span>
    <p>Winner: {{game.winner}}</p>
    <p>Runner Up: {{game.runner_up}}</p>
  </li>
  <li class="collection-item"><a [routerLink]="['/games']">VIEW ALL GAMES</a></li>
</ul>
