<table class="responsive-table centered striped">
  <thead>
    <tr>
        <th data-field="id">Place</th>
        <th data-field="name">Name</th>
        <th data-field="price">Attended</th>
        <th data-field="price">Attendance %</th>
        <th data-field="price">Won</th>
        <th data-field="price">Win %</th>
        <th data-field="price">Placed</th>
        <th data-field="price">Place %</th>
        <th data-field="price">Score</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let player of players; let i = index;">
      <td>{{i + 1}}</td>
      <td>{{player.name}}</td>
      <td>{{player.games}}</td>
      <td>{{player.percent_attended}}%</td>
      <td>{{player.won}}</td>
      <td>{{player.percent_won}}%</td>
      <td>{{player.place}}</td>
      <td>{{player.percent_placed}}%</td>
      <td>{{player.score}}</td>
    </tr>
  </tbody>
</table>
