<table class="responsive-table centered striped">
  <thead>
    <tr>
        <th>Place</th>
        <th>Name</th>
        <th>Attended</th>
        <th>Attendance %</th>
        <th>Won</th>
        <th>Win %</th>
        <th>Placed</th>
        <th>Place %</th>
        <th>Score</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let player of players; let i = index;">
      <td>{{i + 1}}</td>
      <td>{{player.name}}</td>
      <td>{{player.games}}</td>
      <td>{{player.percent_attended}}%</td>
      <td>{{player.won}}</td>
      <td>{{player.percent_won}}%</td>
      <td>{{player.place}}</td>
      <td>{{player.percent_placed}}%</td>
      <td>{{player.score}}</td>
    </tr>
  </tbody>
</table>
