/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Helvetica Neue';
}

div.container > a.brand-logo {
  color: #000;
  & > span {
    font-weight: bold;
    color: #C89C00;
  }
}

ul#nav-mobile > li {
  &.active > a {
    color: #EEE;
  }
  & > a {
    color: #C89C00;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
    &:hover {
      color: #FFF;
    }
  }
}
