/* You can add global styles to this file, and also import other style files */

$roboto-font-path: "../node_modules/materialize-css/fonts/roboto/";
@import "../node_modules/materialize-css/sass/materialize";

body {
  font-family: 'Helvetica Neue';
}

div.container > a.brand-logo {
  color: #000;
  & > span {
    font-weight: bold;
    color: #C89C00;
  }
}

.main-container {
  padding-top: 20px;
}

ul#nav-mobile > li {
  &.active > a {
    color: #EEE;
  }
  & > a {
    color: #C89C00;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
    &:hover {
      color: #FFF;
    }
  }
}

li.collection-header {
  color: white;
}

span.title {
  color: red;
  // font-weight: 500;
}

li.collection-item > a {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
}
